[Desktop Entry]
Name=Beeper
Exec=/home/raine/AppImages/beeper.appimage --hidden --no-sandbox --default-frame
Terminal=false
Type=Application
Icon=/home/raine/AppImages/.icons/beeper.png
StartupWMClass=Beeper
Comment=Beeper: Unified Messenger
Categories=Utility;
