[Desktop Entry]
Name=Beeper
Exec=/home/raine/AppImages/beeper.appimage --hidden
Terminal=false
Type=Application
Icon=/home/raine/AppImages/.icons/beeper.png
StartupWMClass=Beeper
X-AppImage-Version=230705h9be0k2yk
Comment=Beeper: Unified Messenger
Categories=Utility;
